In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91912\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91912\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\91912\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91912\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91912\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91912\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91912\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium

In [3]:
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
import requests
from selenium.webdriver.common.keys import Keys

In [108]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,UnexpectedAlertPresentException,NoSuchAttributeException

In [ ]:
#Ques 1

In [6]:
driver = webdriver.Chrome()

In [30]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [40]:
name=[]
artist=[]
date=[]
views=[]

In [41]:
tag2 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in tag2:
    try:
        nam= i.text
        name.append(nam)
    except NoSuchElementException:
        name.append('-')
        
tag3 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for j in tag3:
    try:
        art= j.text
        artist.append(art)
    except NoSuchElementException:
        artist.append('-')
        
tag4 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for k in tag4:
    try:
        dat= k.text
        date.append(dat)
    except NoSuchElementException:
        date.append('-')

tag5 = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for l in tag5:
    try:
        view= l.text
        views.append(view)
    except NoSuchElementException:
        views.append('-')

In [47]:
import pandas as pd
df=pd.DataFrame({'Video_Name':name,'Artist':artist,'Date_Of_Publish':views,'views(In billion)':date})
df

,Video_Name,Artist,Date_Of_Publish,views(In billion)
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

In [ ]:
#Ques 2

In [48]:
driver = webdriver.Chrome()

In [61]:
driver.get("https://www.bcci.tv/")

In [62]:
search=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search.click()

In [63]:
series=[]
place=[]
date=[]
time=[]

In [64]:
tag2 = driver.find_elements(By.XPATH, '//div[@class="match-info"]/h5')
for i in tag2:
    try:
        nam= i.text
        series.append(nam)
    except NoSuchElementException:
        series.append('-')
        
tag3 = driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')
for j in tag3:
    try:
        art= j.text
        place.append(art)
    except NoSuchElementException:
        place.append('-')
        
tag4 = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for k in tag4:
    try:
        dat= k.text
        date.append(dat)
    except NoSuchElementException:
        date.append('-')

tag5 = driver.find_elements(By.XPATH, '//div[@class="match-date-info"]/div[2]')
for l in tag5:
    try:
        view= l.text
        time.append(view)
    except NoSuchElementException:
        time.append('-')

In [65]:
import pandas as pd 
df2=pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df2

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [ ]:
#Ques 3

In [85]:
driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [86]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search.click()

In [87]:

search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search.click()

In [90]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [91]:
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

In [92]:
tag2 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in tag2:
    try:
        nam= i.text
        state.append(nam)
    except NoSuchElementException:
        state.append('-')
        
tag3 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[3]')
for j in tag3:
    try:
        art= j.text
        gsdp1.append(art)
    except NoSuchElementException:
        gsdp1.append('-')
        
tag4 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[4]')
for k in tag4:
    try:
        dat= k.text
        gsdp2.append(dat)
    except NoSuchElementException:
        gsdp2.append('-')

tag5 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[5]')
for l in tag5:
    try:
        view= l.text
        share.append(view)
    except NoSuchElementException:
        share.append('-')


tag6 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"]/tbody/tr/td[6]')
for m in tag6:
    try:
        vie= m.text
        gdp.append(vie)
    except NoSuchElementException:
        gdp.append('-')

In [93]:
import pandas as pd
df3=pd.DataFrame({'State':state,'GSDP1':gsdp1,'GSDP2':gsdp2,'share':share,'GDP':gdp})
df3

                        State      GSDP1      GSDP2   share      GDP
0                 Maharashtra          -  3,108,022  13.24%  417.163
1                  Tamil Nadu  2,364,514  2,071,286   8.82%  278.011
2               Uttar Pradesh  2,257,575  1,974,532   8.41%  265.024
3                   Karnataka  2,241,368  1,962,725   8.36%  263.440
4                     Gujarat          -  1,937,066   8.25%  259.996
..                        ...        ...        ...     ...      ...
61          Arunachal Pradesh          -     31,669   0.16%        -
62                     Sikkim     35,670     31,519   0.16%   17,832
63                   Nagaland          -     27,859   0.14%        -
64                    Mizoram          -     24,293   0.12%        -
65  Andaman & Nicobar Islands          -      9,209   0.05%        -

[66 rows x 5 columns]

In [ ]:
#Ques 4

In [92]:
driver = webdriver.Chrome()

In [93]:
driver.get("https://github.com/")

In [94]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search.click()

In [95]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search.click()

In [96]:
title=[]
language=[]
count=[]
description=[]

In [124]:
tag2 = driver.find_elements(By.XPATH, '//a[@class="Link"]')
for i in tag2:
    try:
        nam= i.text
        title.append(nam)
    except NoSuchAttributeException:
        title.append('-')
titl=title[:22]
tag3 = driver.find_elements(By.XPATH, '//span[@itemprop="programmingLanguage"]')
for j in tag3:
    try:
        art= j.text
        language.append(art)
    except NoSuchElementException:
        language.append('-')
languag=language[:22]
        
tag4 = driver.find_elements(By.XPATH, '//div[@class="f6 color-fg-muted mt-2"]/a[1]')
for k in tag4:
    try:
        dat= k.text
        count.append(dat)
    except NoSuchElementException:
        count.append('-')
coun=count[:22]
tag5 = driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for l in tag5:
    try:
        view= l.text
        description.append(view)
    except NoSuchElementException:
        description.append('-')
descriptio=description[:22]

In [126]:
import pandas as pd
df4=pd.DataFrame({'Title':titl,'Language':languag,'Count':coun,'Description':descriptio})
df4

,Title,Language,Count,Description
0,abi / screenshot-to-code,TypeScript,"38,390",Drop in a screenshot and convert it to clean c...
1,naver / dust3r,Python,"1,719","Fully open source, End to End Encrypted altern..."
2,ente-io / ente,TypeScript,"4,148",🤗更优雅的微信公众号订阅方式，支持私有化部署、微信公众号RSS生成（基于微信读书）。
3,cooderl / wewe-rss,TypeScript,"1,431","Build AI-powered applications with React, Svel..."
4,vercel / ai,TypeScript,"6,471",Este projeto explora a integração do ChatGPT c...
5,marcusGoncalvess / zap-gpt,TypeScript,157,[WIP] Layer Diffusion for WebUI (via Forge)
6,layerdiffusion / sd-forge-layerdiffusion,Python,"1,820",🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...
7,GrowingGit / GitHub-Chinese-Top-Charts,Java,"84,682",Stable Diffusion web UI
8,AUTOMATIC1111 / stable-diffusion-webui,Python,"123,921",This project aim to reproducing Sora (Open AI ...
9,PKU-YuanGroup / Open-Sora-Plan,Jupyter Notebook,"2,075",A launch point for your personal nvim configur...
10,nvim-lua / kickstart.nvim,Lua,"12,099","12 Weeks, 24 Lessons, AI for All!"
11,microsoft / AI-For-Beginners,Jupyter Notebook,"28,406",一个高质量、经典计算机书籍推荐清单，特点为：只收集高质量，各方向经典书籍，不求书多，只求书精。
12,lining808 / CS-Ebook,Python,980,Learn to create modern websites with sleek par...
13,adrianhajdin / brainwave,JavaScript,316,Home of StarCoder2!
14,bigcode-project / starcoder2,Python,800,🔥Highlighting the top ML papers every week.
15,dair-ai / ML-Papers-of-the-Week,Swift,"7,539",Swift native on-device speech recognition with...
16,argmaxinc / WhisperKit,Rust,"1,503",Rust full node implementation of the Fuel v2 p...
17,FuelLabs / fuel-core,C,"47,027",Klipper is a 3d-printer firmware
18,Klipper3d / klipper,TypeScript,"8,390",A curated list of free courses & certifications.
19,cloudcommunity / Free-Certifications,Jupyter Notebook,"19,774",The Node.js® Website
20,nodejs / nodejs.org,Rust,"3,417",😎 Awesome list of all things related to Micros...
21,merill / awesome-entra,TypeScript,154,"18 Lessons, Get Started Building with Generati..."

In [ ]:
#Ques 5

In [127]:
driver = webdriver.Chrome()

In [128]:
driver.get("https://www.billboard.com/")

In [129]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search.click()

In [130]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
search.click()

In [131]:
song=[]
artist=[]
last=[]
week=[]
peak=[]

In [132]:
tag2 = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for i in tag2:
    try:
        nam= i.text
        song.append(nam)
    except NoSuchElementException:
        song.append('-')
        
tag3 = driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/span')
for j in tag3:
    try:
        art= j.text
        artist.append(art)
    except NoSuchElementException:
        artist.append('-')

In [144]:
import pandas as pd
h=pd.DataFrame({'Song Name':song,'Artist Name':artist[0:400:4],'Last Week Rank':artist[1:400:4],'Peak Rank':artist[2:400:4],
               'Weeks On Board':artist[3:400:4]})
h

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

In [ ]:
#Ques 6

In [145]:
driver = webdriver.Chrome()

In [146]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [152]:
Book=[]
Author=[] 
Volumes=[]
Publisher=[]
Genre=[]

In [153]:
tag2 = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in tag2:
    try:
        nam= i.text
        Book.append(nam)
    except NoSuchElementException:
        Book.append('-')
        
tag3 = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
for j in tag3:
    try:
        art= j.text
        Author.append(art)
    except NoSuchElementException:
        Author.append('-')
        
tag4 = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
for k in tag4:
    try:
        dat= k.text
        Volumes.append(dat)
    except NoSuchElementException:
        Volumes.append('-')

tag5 = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
for l in tag5:
    try:
        view= l.text
        Publisher.append(view)
    except NoSuchElementException:
        Publisher.append('-')


tag6 = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
for m in tag6:
    try:
        vie= m.text
        Genre.append(vie)
    except NoSuchElementException:
        Genre.append('-')

In [154]:
import pandas as pd
df5=pd.DataFrame({'Book Name':Book,'Author Name':Author,'Volumes Sold':Volumes,'Publisher Name':Publisher,'Genre':Genre})
df5

,Book Name,Author Name,Volumes Sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
#Ques 7

In [185]:
driver = webdriver.Chrome()

In [186]:
driver.get("https://www.imdb.com/list/ls512407256/")

In [187]:
Name=[]
Genre=[] 
Run=[] 
Ratings=[] 
Votes=[]

In [188]:
tag2 = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/h3')
for i in tag2:
    try:
        nam= i.text
        Name.append(nam)
    except NoSuchElementException:
        Name.append('-')
        
tag3 = driver.find_elements(By.XPATH, '//span[@class="genre"]')
for j in tag3:
    try:
        art= j.text
        Genre.append(art)
    except NoSuchElementException:
        Genre.append('-')
        
tag4 = driver.find_elements(By.XPATH, '//span[@class="runtime"]')
for k in tag4:
    try:
        dat= k.text
        Run.append(dat)
    except NoSuchElementException:
        Run.append('-')

tag5 = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-star small"]/span[2]')
for l in tag5:
    try:
        view= l.text
        Ratings.append(view)
    except NoSuchElementException:
        Ratings.append('-')


tag6 = driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"]/span')
for m in tag6:
    try:
        vie= m.text
        Votes.append(vie)
    except NoSuchElementException:
        Votes.append('-')

In [191]:
import pandas as pd
df6=pd.DataFrame({'Name(Year Span)':Name,'Run Time':Run,'Ratings':Ratings,'Votes':Votes[6:700:7],'Genre':Genre[0:100]})
df6

,Name(Year Span),Run Time,Ratings,Votes,Genre
0,1. Game of Thrones (2011–2019),55 min,9.2,"2,263,466","Action, Adventure, Drama"
1,2. Stranger Things (2016–2025),51 min,8.7,"1,321,082","Drama, Fantasy, Horror"
2,3. The Walking Dead (2010–2022),44 min,8.1,"1,072,776","Drama, Horror, Thriller"
3,4. 13 Reasons Why (2017–2020),60 min,7.5,"313,549","Drama, Mystery, Thriller"
4,5. The 100 (2014–2020),43 min,7.6,"273,505","Drama, Mystery, Sci-Fi"
...,...,...,...,...,...
95,96. True Detective (2014– ),55 min,8.9,"646,540","Crime, Drama, Mystery"
96,97. Teen Wolf (2011–2017),41 min,7.7,"162,116","Action, Drama, Fantasy"
97,98. The OA (2016–2019),60 min,7.8,"114,916","Drama, Fantasy, Mystery"
98,99. The Simpsons (1989– ),22 min,8.7,"433,223","Animation, Comedy"
99,100. Desperate Housewives (2004–2012),45 min,7.6,"138,737","Comedy, Drama, Mystery"

In [ ]:
#Ques 8

In [223]:
driver = webdriver.Chrome()

In [224]:
driver.get("https://archive.ics.uci.edu/")

In [225]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search.click()

In [226]:
name=[]
types=[]
ayear=[]

In [227]:
for i in range(5):
    rat=driver.find_elements(By.XPATH, '//h2[@class="truncate text-primary"]/a')
    nam=driver.find_elements(By.XPATH, '//div[@class="col-span-3 flex items-center gap-2"]/span')
    sour=driver.find_elements(By.XPATH, '//p[@class="truncate"]')
    for j  in rat:
        name.append(j.text)
    
    for k in nam:
        types.append(k.text) 
        

    for o in sour:
        ayear.append(o.text)

In [228]:
import pandas as pd
df7=pd.DataFrame({'Dataset Name':name,'Data Type':types[0:200:4],'Task':types[1:200:4],'Attribute Type':types[2:200:4],'No Of Instances':types[3:200:4],'Description':ayear})
df7

,Dataset Name,Data Type,Task,Attribute Type,No Of Instances,Description
0,Iris,Classification,Tabular,150 Instances,4 Features,"A small classic dataset from Fisher, 1936. One..."
1,Dry Bean Dataset,Classification,Multivariate,13.61K Instances,16 Features,"Images of 13,611 grains of 7 different registe..."
2,Heart Disease,Classification,Multivariate,303 Instances,13 Features,"4 databases: Cleveland, Hungary, Switzerland, ..."
3,Rice (Cammeo and Osmancik),Classification,Multivariate,3.81K Instances,7 Features,A total of 3810 rice grain's images were taken...
4,Adult,Classification,Multivariate,48.84K Instances,14 Features,Predict whether income exceeds $50K/yr based o...
5,Raisin,Classification,Multivariate,900 Instances,8 Features,Images of the Kecimen and Besni raisin varieti...
6,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances,30 Features,Diagnostic Wisconsin Breast Cancer Database.
7,Wine,Classification,Tabular,178 Instances,13 Features,Using chemical analysis to determine the origi...
8,Wine Quality,"Classification, Regression",Multivariate,4.9K Instances,12 Features,"Two datasets are included, related to red and ..."
9,Diabetes,Classification,"Multivariate, Time-Series",1 Instances,20 Features,This diabetes dataset is from AIM '94
10,Iris,Classification,Tabular,150 Instances,4 Features,"A small classic dataset from Fisher, 1936. One..."
11,Dry Bean Dataset,Classification,Multivariate,13.61K Instances,16 Features,"Images of 13,611 grains of 7 different registe..."
12,Heart Disease,Classification,Multivariate,303 Instances,13 Features,"4 databases: Cleveland, Hungary, Switzerland, ..."
13,Rice (Cammeo and Osmancik),Classification,Multivariate,3.81K Instances,7 Features,A total of 3810 rice grain's images were taken...
14,Adult,Classification,Multivariate,48.84K Instances,14 Features,Predict whether income exceeds $50K/yr based o...
15,Raisin,Classification,Multivariate,900 Instances,8 Features,Images of the Kecimen and Besni raisin varieti...
16,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances,30 Features,Diagnostic Wisconsin Breast Cancer Database.
17,Wine,Classification,Tabular,178 Instances,13 Features,Using chemical analysis to determine the origi...
18,Wine Quality,"Classification, Regression",Multivariate,4.9K Instances,12 Features,"Two datasets are included, related to red and ..."
19,Diabetes,Classification,"Multivariate, Time-Series",1 Instances,20 Features,This diabetes dataset is from AIM '94
20,Iris,Classification,Tabular,150 Instances,4 Features,"A small classic dataset from Fisher, 1936. One..."
21,Dry Bean Dataset,Classification,Multivariate,13.61K Instances,16 Features,"Images of 13,611 grains of 7 different registe..."
22,Heart Disease,Classification,Multivariate,303 Instances,13 Features,"4 databases: Cleveland, Hungary, Switzerland, ..."
23,Rice (Cammeo and Osmancik),Classification,Multivariate,3.81K Instances,7 Features,A total of 3810 rice grain's images were taken...
24,Adult,Classification,Multivariate,48.84K Instances,14 Features,Predict whether income exceeds $50K/yr based o...
25,Raisin,Classification,Multivariate,900 Instances,8 Features,Images of the Kecimen and Besni raisin varieti...
26,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances,30 Features,Diagnostic Wisconsin Breast Cancer Database.
27,Wine,Classification,Tabular,178 Instances,13 Features,Using chemical analysis to determine the origi...
28,Wine Quality,"Classification, Regression",Multivariate,4.9K Instances,12 Features,"Two datasets are included, related to red and ..."
29,Diabetes,Classification,"Multivariate, Time-Series",1 Instances,20 Features,This diabetes dataset is from AIM '94
30,Iris,Classification,Tabular,150 Instances,4 Features,"A small classic dataset from Fisher, 1936. One..."
31,Dry Bean Dataset,Classification,Multivariate,13.61K Instances,16 Features,"Images of 13,611 grains of 7 different registe..."
32,Heart Disease,Classification,Multivariate,303 Instances,13 Features,"4 databases: Cleveland, Hungary, Switzerland, ..."
33,Rice (Cammeo and Osmancik),Classification,Multivariate,3.81K Instances,7 Features,A total of 3810 rice grain's images were taken...
34,Adult,Classification,Multivariate,48.84K Instances,14 Features,Predict whether income exceeds $50K/yr based o...
35,Raisin,Classification,Multivariate,900 Instances,8 Features,Images of the Kecimen and Besni raisin varieti...
36,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances,30 Features,Diagnostic Wisconsin Breast Cancer Database.
37,Wine,Classification,Tabular,178 Instances,13 Features,Using chemical analysis to determine the origi...
38,Wine Quality,"Classification, Regression",Multivariate,4.9K Instances,12 Features,"Two datasets are included, related to red and ..."
39,Diabetes,Classification,"Multivariate, Time-Series",1 Instances,20 Features,This diabetes dataset is from AIM '94
40,Iris,Classification,Tabular,150 Instances,4 Features,"A small classic dataset from Fisher, 1936. One..."
41,Dry Bean Dataset,Classification,Multivariate,13.61K Instances,16 Features,"Images of 13,611 grains of 7 different registe..."
42,Heart Disease,Classification,Multivariate,303 Instances,13 Features,"4 databases: Cleveland, Hungary, Switzerland, ..."
43,Rice (Cammeo and Osmancik),Classification,Multivariate,3.81K Instances,7 Features,A total of 3810 rice grain's images were taken...
44,Adult,Classification,Multivariate,48.84K Instances,14 Features,Predict whether income exceeds $50K/yr based o...
45,Raisin,Classification,Multivariate,900 Instances,8 Features,Images of the Kecimen and Besni raisin varieti...
46,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,569 Instances,30 Features,Diagnostic Wisconsin Breast Cancer Database.
47,Wine,Classification,Tabular,178 Instances,13 Features,Using chemical analysis to determine the origi...
48,Wine Quality,"Classification, Regression",Multivariate,4.9K Instances,12 Features,"Two datasets are included, related to red and ..."
49,Diabetes,Classification,"Multivariate, Time-Series",1 Instances,20 Features,This diabetes dataset is from AIM '94